extends layout

block content
    div.table-responsive
      table.table.table-striped
          thead
            th Text
            th Date

          tbody
    label(for="text") Text
    input#text.form-control(type="text")
    button.btn.btn-primary.addRow Submit
    button.btn.btn-danger.delRow Delete selected
